<main>
  <section class="form-section">
    <img src="/assets/svg/logo.svg" alt="imagem da logo moveIt" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
        class="btnPrimary"
        (click)="submit()"
        [disabled]="disablePrimaryBtn"
      >
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btnSecondary" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section class="main-section">
    <h1>You Should, MoveIt</h1>
    <img
      src="/assets/svg/main-ilustration.svg"
      alt="imagem da ilustração da página de login"
    />
  </section>
</main>
